<h2>Edit User</h2>

<form action="/admin/user/edit/<%= user.id %>" method="POST">

    <label>Email:</label>
    <input type="email" name="email" value="<%= user.email %>" required>

    <label>Username:</label>
    <input type="text" name="username" value="<%= user.username %>" required>

    <label>Phone Number:</label>
    <input type="text" name="phone_number" value="<%= user.phone_number || '' %>">

    <label>Role:</label>
    <select name="role" id="role">
        <% const allRoles = ["user", "profesor", "kantina"]; %>

        <% allRoles.forEach(r => { %>
            <option value="<%= r %>" <%= user.role === r ? "selected" : "" %>>
                <%= r %>
            </option>
        <% }) %>
    </select>

    <button type="submit">Save</button>

</form>

<a href="/admin/user/<%= user.id %>">Cancel</a>
